.modal{
  padding: 50px;
  background: #FFE4E1;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 4px double black;
}

body {

	background-color: #48D1CC;

}

img.main{
	border: 1px double black;
}

div.up-right{
	text-align: center;
	font-size: 120%;
	float: right;
	width:50%;
	margin-top:50px;
	margin-left: auto;
    margin-right: auto;
}

div.up-left{
	float: left;
	margin-right: 20px;
}

input[type=submit] {

	margin-top: 30px;
    padding:5px 15px; 
    background:#ccc; 
    border:1px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    height: 40px;
    width:100px;

}
input.uploaded_file{
	margin-top:20px;
     display: none;
}
label.input_file{
	margin: 10px;
	border: 4px double black;
	padding: 2px;

}

label.upload{
     /*Задать стиль какой душе угодно ))*/
}

}
div.bottom{
	 text-align: center; 
}
@media (max-width: 900px) { 
	div.up-right{
		margin-top:0px;
		float: none;
	}
	div.up-left{
		float: none;
	}
}